body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center; /* centers the text under the image */
}

.container img {
    max-width: 100%;
    height: auto; /* keeps aspect ratio */
    display: block;
    margin: 0 auto; /* just in case */
}

.container p {
    margin-top: 20px; /* consistent gap between image and text */
    object-fit: contain;
    text-decoration: underline; /* Ensures the underline is present */
    text-decoration-color: #800080; /* Sets the underline color to purple for unvisited links */
}

.container p:hover {
    margin-top: 20px; /* consistent gap between image and text */
    display: inline-block;
    text-decoration: underline; /* Ensures the underline is present */
    background-color: rgb(128,128,128);
    color: white; /* Keeps link white on hover */
} 