.thm-box {
    width: 75%;
    margin: 15px auto;         /* centers horizontally with space above/below */
    padding: 15px 25px;        /* inner spacing */
    background-color: #606060;    /* medium gray background */
    color: white;              /* white text */
    /* border-radius: 4px;       rounded corners */
    border-left: 6px solid rgb(222, 222, 222);    /* subtle accent line */
    line-height: 1.25;
}

.thm-box::before {
    font-weight: bold;
    display: block;      /* forces onto its own line */
    margin-bottom: 10px; /* spacing before theorem text */
    content: "theorem.";  /* auto adds name */
}

.thm-box[name]::before {
    content: "theorem. (" attr(name) ")";
}

.subthm-box {
    width: 75%;
    margin: 15px auto;              /* a bit tighter than theorem */
    padding: 15px 25px;
    background-color: #353535;         /* darker gray than theorem */
    color: white;
    border-left: 6px solid grey;    /* subtle accent line */
    /* border-radius: 4px; */
    line-height: 1.25;
}

.subthm-box::before {
    font-weight: bold;
    font-style: italic;             /* makes “Proof.” stand out a bit */
    display: block;      /* forces onto its own line */
    margin-bottom: 10px; /* spacing before theorem text */
    content: attr(type)".";  /* auto adds name */
}

.subthm-box[name]::before {
    content: attr(type)". (" attr(name) ")";
}

.subthm-box[type="proof"]::after {
    content: "□";        /* Q.E.D. symbol */
    display: inline-block;
    margin-left: 100%;    /* a bit of space after the last text */
    font-weight: bold;
    color: white;        /* match your box text color */
}

ol.parentheses {
    counter-reset: list;
    list-style: none;
}

ol.parentheses > li::before {
    content: "(" counter(list) ") ";
    counter-increment: list;
}