{% extends "layouts/page.njk" %}

{% block css %}
    <link rel="stylesheet" href="/styles/colorwave.css">
{% endblock %}

{% block body %} 
    <script src="/scripts/colorwave.js" defer></script>
{% endblock %}