<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
    {% block css %}{% endblock %}

    <script src="/scripts/mathjax-config.js"></script>
    <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>


    <title>{{ site.siteName }} | {{ title }}</title>
  </head>

  <body>
    <main>
      {% block main %}
      {{content | safe}}
      {% endblock %}
    </main>
  </body>

  <footer>
    {% block footer %}
      {% include "partials/basenavig.html" %}
    {% endblock %}
  </footer>
</html>