{% extends "layouts/base.njk" %}

{% block css %} <link rel="stylesheet" href="/styles/homepage.css"> {% endblock %}

{% block main %}
  <div class = "container">
    <a href="/glossary">
      <img src = "/assets/img/legoinfinite.gif" alt = "my lego">
    </a>

    <a href="/glossary">
      {{ content | safe }}
    </a>
  </div>
{% endblock %}

{% block footer %} {% endblock %} {# clearing the navigation footer #}