---
layout: layouts/base.njk
---
<link rel="stylesheet" href="/styles/homepage.css">

<div class = "center move">
  <a href="/glossary">
    <img src = "/assets/img/legoinfinite.gif" alt = "my lego">
  </a>

  <a href="/glossary">
    {{ content | safe }}
  </a>
</div>