{% extends "layouts/base.njk" %}

{% block css %}
    <link rel="stylesheet" href="/styles/tex.css">
{% endblock %}

{% block main %}
    <p> <span style = "color: Tomato"> cute proofs </span> | <i>{{ publish_date | customDateFormat | lower}}</i> | <span style = "color: SlateBlue"> {{title}} </span></p>

    {{content | safe}}
{% endblock %}

{% block footer %}
    {% include "partials/basenavig.html" %}
{% endblock %}